div.navnav { background-color: #ffffff; text-align: center; margin: 10px auto 10px auto; font-size: medium; padding: 3px; }

div.navnav a { color: #0000ff; text-decoration: underline; font-weight: normal; }

div.navnav a:visited { color: #800080; }