[submodule "deps/jsdom"]
	path = deps/jsdom
	url = git@theta.cs.vt.edu:jsdom.git
[submodule "deps/html5"]
	path = deps/html5
	url = https://github.com/aredridel/html5.git
[submodule "deps/jquery-cloudbrowser"]
	path = deps/jquery-cloudbrowser
	url = git@theta.cs.vt.edu:jquery-cloudbrowser.git
[submodule "deps/socket.io-client"]
	path = deps/socket.io-client
	url = https://github.com/LearnBoost/socket.io-client.git
[submodule "deps/contextify"]
	path = deps/contextify
	url = https://github.com/brianmcd/contextify.git
[submodule "deps/knockout-node"]
	path = deps/knockout-node
	url = https://github.com/brianmcd/cloudbrowser-knockout.git
