<html ng-app="Chat3">
    <head>
        <title>Another Chat Application</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript" src='javascript/angular.js'></script>
        <script type="text/javascript" src='javascript/controller.js'></script>
        <script type="text/javascript" src='javascript/jquery.js'></script>
        <script type="text/javascript" src='javascript/bootstrap.js'></script>
        <link rel='stylesheet' href='css/font-awesome.css'>
        <link rel='stylesheet' href='css/style.css'>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid" ng-controller="ChatCtrl">
                <h2 class="page-header pagination-centered">Chat3</h2>
                <div class="span2 well sidebar pagination-centered">
                    <h5 class="span12">{{user.name}}</h5>
                    <div class="span12">
                        <form class="span12 form-inline" ng-submit="createRoom()">
                            <legend>
                               Create Room <i class="icon-plus-sign icon-large pointer" id="create"
                               ng-click="toggleForm('create')" ng-class="{true:'active'}[showCreateForm]"></i>
                            </legend>
                            <input type="text" class="input-small" ng-model="roomName" ng-show="showCreateForm">
                            <button type="submit" class="btn" ng-show="showCreateForm">Create</button>
                        </form>
                    </div>
                    <form class="span12 form-inline" ng-submit="joinRoom()">
                        <legend>
                            Join Room <i class="icon-plus-sign icon-large pointer" id="create"
                           ng-click="toggleForm('join')" ng-class="{true:'active'}[showJoinForm]"></i>
                        </legend>
                        <select class="margin-bottom span7"
                        ng-options="room.name for room in otherRooms"
                        ng-model="selectedRoom" ng-show="showJoinForm"></select>
                        <button type="submit" class="btn" ng-show="showJoinForm">Join</button>
                    </form>
                    <legend ng-show="joinedRooms.length">My Rooms</legend>
                    <div class="alert alert-info span12 pagination-centered"
                    ng-repeat = "room in joinedRooms">
                        <button type="button" class="close" ng-click="leaveRoom(room)">&times;</button>
                        <strong ng-click="activate(room)" class="pointer">{{room.name}}</strong>
                    </div>
                </div>
                <div class="span7 well" ng-show="activeRoom">
                    <h3 class="page-header span11">{{activeRoom.name}}</h3>
                    <button type="button" class="close pull-right" ng-click="leaveRoom(activeRoom)"><i class="icon-signout"></i></button>
                    <div class="span11">
                        <div class="span12 margin-bottom" id="chat-box">
                            <div ng-repeat="message in activeRoom.messages">{{message}}</div>
                        </div>
                        <input class="span12" ng-model="currentMessage" id="chat-text" enter-submit="postMessage()">
                    </div>
                </div>
                <div class="span2 well sidebar" ng-show="activeRoom">
                    <legend>Members</legend>
                    <ul class="unstyled" ng-repeat = "user in activeRoom.users">
                        <li>{{user.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
