<html ng-app="Chat3">
    <head>
        <title>Another Chat Application</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript" src='javascript/angular.js'></script>
        <script type="text/javascript" src='javascript/controller.js'></script>
        <script type="text/javascript" src='javascript/jquery.js'></script>
        <script type="text/javascript" src='javascript/bootstrap.js'></script>
        <link rel='stylesheet' href='css/font-awesome.css'>
        <link rel='stylesheet' href='css/style.css'>
    </head>
    <body>
        <div class="container-fluid" ng-controller="UserCtrl">
            <div class="row-fluid pagination-centered">
                <h2 class="page-header">Chat3</h2>
                <div class="span2 well sidebar">
                    <button class="btn span12 margin-bottom">Create Room</button>
                    <label>Join Room</label>
                    <select class="span12 margin-bottom"></select>
                    <label>My Rooms</label>
                    <div class="alert alert-info span12 pagination-centered">
                        <button type="button" class="close" ng-click="leaveRoom(room)">&times;</button>
                        <strong>Room 1</strong>
                    </div>
                    <div class="alert alert-info span12 pagination-centered">
                        <button type="button" class="close" ng-click="leaveRoom(room)">&times;</button>
                        <strong>Room 1</strong>
                    </div>
                    <div class="alert alert-info span12 pagination-centered">
                        <button type="button" class="close" ng-click="leaveRoom(room)">&times;</button>
                        <strong>Room 1</strong>
                    </div>
                    <div class="alert alert-info span12 pagination-centered">
                        <button type="button" class="close" ng-click="leaveRoom(room)">&times;</button>
                        <strong>Room 1</strong>
                    </div>
                </div>
                <div class="span7 well">
                    <h3 class="page-header pull-left">Room Name</h3>
                    <button type="button" class="close pull-right" ng-click="leaveRoom(room)"><i class="icon-signout"></i></button>
                    <div class="span11">
                        <div class="span12 margin-bottom" id="chat-box"></div>
                        <textarea class="span12" id="chat-text"></textarea>
                    </div>
                </div>
                <div class="span2 well sidebar">
                    <label><u>Users in the Chat Room</u></label>
                    <ul class="unstyled">
                        <li>User1</li>
                        <li>User2</li>
                        <li>User3</li>
                        <li>User1</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
