<html ng-app="CBLandingPage">
    <head>
        <title>{{mountPoint}}</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript" src='javascript/angular.js'></script>
        <script type="text/javascript" src='javascript/controller.js'></script>
        <script type="text/javascript" src='javascript/jquery.js'></script>
        <script type="text/javascript" src='javascript/bootstrap.js'></script>
        <link rel='stylesheet' href='css/font-awesome.css'>
        <link rel='stylesheet' href='css/style.css'>
    </head>
    <body>
        <div class="container-fluid" ng-controller="UserCtrl">
            <div class="row-fluid pagination-centered">
                <h3 class="page-header">
                    {{mountPoint|removeSlash}}
                </h3>
                <div class="span5 offset3">
                    {{user.getEmail()}} &nbsp;| &nbsp;<a ng-click="logout()">Logout</a>

                    <div class="well" ng-show="description">
                        {{description}}
                    </div>

                    <div class="hero-unit" ng-show="!(instanceList.length)">
                        <h2>Welcome to {{mountPoint|removeSlash}}.</h2>
                        <p>You don't have any instances yet.</p>
                        <p><button class="btn btn-success" ng-click="createVB()">Create</button> one now!</p>
                    </div>

                    <div ng-show="instanceList.length">
                        <button class="btn margin-bottom" ng-click="createVB()">
                            Create <i class="icon-plus"></i>
                        </button>

                        <div class="btn-group margin-bottom">
                            <a class="btn dropdown-toggle"
                            data-toggle="dropdown">
                                Filter <i class="icon-filter"></i>
                                <span class="caret" ></span>
                            </a>
                            <ul class="dropdown-menu" style="text-align:left">
                                <li><a tabindex="-1"
                                ng-click="filterType='shared'">
                                    Shared
                                </a></li>

                                <li><a tabindex="-1"
                                ng-click="filterType='notShared'">
                                    Not shared 
                                </a></li>

                                <li><a tabindex="-1"
                                ng-click="filterType='owned'">
                                    Owned by me
                                </a></li>

                                <li><a tabindex="-1"
                                ng-click="filterType='notOwned'">
                                    Not owned by me
                                </a></li>

                                <li><a tabindex="-1"
                                ng-click="filterType='all'">
                                    All 
                                </a></li>

                            </ul>
                        </div>

                        <br>

                        <button class="btn btn-default margin-bottom"
                        ng-disabled="isDisabled.open" ng-click="open()">
                            Open <i class="icon-external-link"></i>
                        </button>

                        <div class="btn-group margin-bottom">
                            <a class="btn dropdown-toggle"
                            data-toggle="dropdown" ng-class="{true:'disabled'}[isDisabled.share]">
                                Share <i class="icon-group"></i>
                                <span class="caret" ></span>
                            </a>
                            <ul class="dropdown-menu" style="text-align:left">
                                <li><a tabindex="-1"
                                ng-click="openCollaborateForm()">
                                    Grant Read/Write Access
                                </a></li>

                                <li><a tabindex="-1"
                                ng-click="openAddOwnerForm()">
                                    Share Ownership
                                </a></li>
                            </ul>
                        </div>

                        <button class="btn btn-default margin-bottom"
                        ng-disabled="isDisabled.rename" ng-click="rename()">
                            Rename <i class="icon-edit"></i>
                        </button>

                        <button class="btn btn-default margin-bottom"
                        ng-disabled="isDisabled.del" ng-click="confirmDelete=true">
                            Delete <i class="icon-trash"></i>
                        </button>
                    </div>

                    <div class="alert alert-success" ng-show="boxMessage">
                        <button type="button" class="close" ng-click="boxMessage=null">&times;</button>
                        <strong>Success!</strong> {{boxMessage}}.
                    </div>

                    <div class="alert alert-error" ng-show="error">
                        <button type="button" class="close" ng-click="error=null">&times;</button>
                        <strong>Error!</strong> Can not perform requested action. {{error}}.
                    </div>

                    <div class="alert alert-error" ng-show="confirmDelete && instanceList.length">
                        <button type="button" class="close" ng-click="confirmDelete=false">&times;</button>
                        <strong>Warning!</strong> The selected instances will be permanently deleted.<br>
                        <button class="btn btn-danger" ng-click="remove()">Continue</button>
                    </div>

                    <div class="span8 offset2 box margin-bottom" ng-show="addingCollaborator && instanceList.length">
                        <button type="button" class="close" ng-click="addingCollaborator = false">×</button>
                        <legend>Add Collaborator</legend>
                            <form class="form-inline" ng-submit="addCollaborator()">
                                <label>
                                    Enter a google ID or select from existing users of {{mountPoint|removeSlash}}.
                                </label>
                                <input type="text" data-provide="typeahead" typeahead="selectedCollaborator" ng-model="selectedCollaborator">
                                <button type="submit" class="btn btn-primary" ng-disabled="!selectedCollaborator">
                                    Add
                                </button>
                            </form>
                    </div>

                    <div class="box span8 offset2" ng-show="addingOwner && instanceList.length">
                        <button type="button" class="close" ng-click="addingOwner = false">×</button>
                        <legend>Add Owner</legend>
                            <form class="form-inline" ng-submit="addOwner()">
                                <label>
                                    Enter a google ID or select from existing users of {{mountPoint|removeSlash}}.
                                </label>
                                <input type="text" data-provide="typeahead" typeahead="selectedOwner" ng-model = "selectedOwner">
                                <button type="submit" class="btn btn-primary" ng-disabled="!selectedOwner">
                                    Add
                                </button>
                            </form>
                    </div>

                </div>

                <div class="span9 offset1" ng-show="instanceList.length">
                    <table class="table table-bordered">
                        <thead>
                            <th><input type="checkbox"
                                ng-click="selectAll($event)"
                                ng-checked="areAllSelected()">
                            </th>
                            <th>
                                <span ng-click="predicate = 'name'; reverse = !reverse" class="pointer">Name</span>
                                <span ng-show="predicate == 'name' && reverse"><i class="icon-caret-down icon-large"></i></span>
                                <span ng-show="predicate == 'name' && !reverse"><i class="icon-caret-up icon-large"></i></span>
                            </th>
                            <th>
                                <span ng-click="predicate = 'dateCreated'; reverse = !reverse" class="pointer">Date Created</span>
                                <span ng-show="predicate == 'dateCreated' && reverse"><i class="icon-caret-down icon-large"></i></span>
                                <span ng-show="predicate == 'dateCreated' && !reverse"><i class="icon-caret-up icon-large"></i></span>
                            </th>
                            <th>Owner(s)</th>
                            <th>Collaborator(s)</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="instance in instanceList | instanceFilter:{user:user,type:filterType} | orderBy:predicate:reverse"
                                ng-class="getSelectedClass(instance.id)">
                                <td>
                                    <input type="checkbox"
                                    ng-click="select($event, instance.id)"
                                    ng-checked="isSelected(instance.id)">
                                </td>
                                <td>
                                    <span ng-hide="instance.editing"
                                    ng-click="clickRename(instance.id)" class="pointer">
                                        {{instance.name}}
                                    </span>
                                    <input ng-show="instance.editing" ng-hasfocus="instance.editing" type="text" class="span11" ng-model="instance.name">
                                </td>
                                <td>
                                    {{instance.dateCreated}}
                                </td>
                                <td>
                                    <div ng-repeat="owner in instance.owners">
                                        {{owner.getEmail()}} ({{owner.getNameSpace()}})
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="collaborator in instance.collaborators">
                                        {{collaborator.getEmail()}} ({{collaborator.getNameSpace()}})
                                    </div>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </body>
</html>
