<html ng-app="CBLandingPage">
    <head>
        <title>{{mountPoint}}</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript" src='js/angular.js'></script>
        <script type="text/javascript" src='js/controller.js'></script>
        <script type="text/javascript" src='js/jquery.js'></script>
        <script type="text/javascript" src='js/bootstrap.js'></script>
        <link rel='stylesheet' href='css/font-awesome.css'>
        <link rel='stylesheet' href='css/style.css'>
    </head>
    <body>
        <div class="container-fluid" ng-controller="UserCtrl">
            <div class="row-fluid pagination-centered">
                <h3 class="page-header">
                    {{mountPoint|removeSlash}}
                </h3>
                <div class="span5 offset3">
                    {{user.email}} &nbsp;| &nbsp;<a ng-click="logout()">Logout</a>

                    <div class="well" ng-show="description">
                        {{description}}
                    </div>

                    <div class="hero-unit" ng-show="!(virtualBrowserList.length)">
                        <h2>Welcome to {{mountPoint|removeSlash}}.</h2>
                        <p>You don't have any virtual browsers yet.</p>
                        <p>
                            <button class="btn btn-success"
                            ng-click="createVB()">
                            Create</button> one now!
                        </p>
                    </div>

                    <div ng-show="virtualBrowserList.length">
                        <button class="btn margin-bottom" ng-click="createVB()">
                            Create <i class="icon-plus"></i>
                        </button>

                        <div class="btn-group margin-bottom">
                            <a class="btn dropdown-toggle"
                            data-toggle="dropdown">
                                Filter <i class="icon-filter"></i>
                                <span class="caret" ></span>
                            </a>
                            <ul class="dropdown-menu" style="text-align:left">
                                <li><a tabindex="-1"
                                ng-click="filterType='shared'">
                                    Shared
                                </a></li>

                                <li><a tabindex="-1"
                                ng-click="filterType='notShared'">
                                    Not shared 
                                </a></li>

                                <li><a tabindex="-1"
                                ng-click="filterType='owned'">
                                    Owned by me
                                </a></li>

                                <li><a tabindex="-1"
                                ng-click="filterType='notOwned'">
                                    Not owned by me
                                </a></li>

                                <li><a tabindex="-1"
                                ng-click="filterType='all'">
                                    All 
                                </a></li>

                            </ul>
                        </div>

                        <br>

                        <button class="btn btn-default margin-bottom"
                        ng-disabled="isDisabled.open" ng-click="open()">
                            Open <i class="icon-external-link"></i>
                        </button>

                        <div class="btn-group margin-bottom">
                            <a class="btn dropdown-toggle"
                            data-toggle="dropdown"
                            ng-class="{true:'disabled'}[isDisabled.share]">
                                Share <i class="icon-group"></i>
                                <span class="caret" ></span>
                            </a>
                            <ul class="dropdown-menu" style="text-align:left">
                                <li><a tabindex="-1"
                                ng-click="openAddReaderWriterForm()">
                                    Grant Read/Write Access
                                </a></li>

                                <li><a tabindex="-1"
                                ng-click="openAddOwnerForm()">
                                    Share Ownership
                                </a></li>
                            </ul>
                        </div>

                        <button class="btn btn-default margin-bottom"
                        ng-disabled="isDisabled.rename" ng-click="rename()">
                            Rename <i class="icon-edit"></i>
                        </button>

                        <button class="btn btn-default margin-bottom"
                        ng-disabled="isDisabled.del" ng-click="confirmDelete=true">
                            Delete <i class="icon-trash"></i>
                        </button>
                    </div>

                    <div class="alert alert-success" ng-show="boxMessage">
                        <button type="button" class="close"
                        ng-click="boxMessage=null">&times;</button>
                        <strong>Success!</strong> {{boxMessage}}.
                    </div>

                    <div class="alert alert-error" ng-show="error">
                        <button type="button" class="close"
                        ng-click="error=null">&times;</button>
                        <strong>Error!</strong> Can not perform requested action. {{error}}.
                    </div>

                    <div class="alert alert-error"
                    ng-show="confirmDelete && virtualBrowserList.length">
                    <button type="button"
                    class="close" ng-click="confirmDelete=false">&times;</button>
                        <strong>Warning!</strong> The selected virtual browsers will be permanently deleted.<br>
                        <button class="btn btn-danger" ng-click="remove()">Continue</button>
                    </div>

                    <div class="span8 offset2 box margin-bottom"
                    ng-show="addingReaderWriter && virtualBrowserList.length">
                        <button type="button"
                        class="close"
                        ng-click="addingReaderWriter=false">×</button>
                        <legend>Add Collaborator</legend>
                            <form class="form-inline" ng-submit="addReaderWriter()">
                                <label>
                                    Enter a google ID or
                                    select from existing users
                                    of {{mountPoint|removeSlash}}.
                                </label>
                                <input type="text" 
                                data-provide="typeahead"
                                typeahead="selectedReaderWriter"
                                ng-model="selectedReaderWriter">
                                <button type="submit"
                                class="btn btn-primary"
                                ng-disabled="!selectedReaderWriter">
                                    Add
                                </button>
                            </form>
                    </div>

                    <div class="box span8 offset2"
                    ng-show="addingOwner && virtualBrowserList.length">
                        <button type="button"
                        class="close"
                        ng-click="addingOwner = false">×</button>
                        <legend>Add Owner</legend>
                            <form class="form-inline" ng-submit="addOwner()">
                                <label>
                                    Enter a google ID or
                                    select from existing
                                    users of {{mountPoint|removeSlash}}.
                                </label>
                                <input type="text"
                                data-provide="typeahead"
                                typeahead="selectedOwner"
                                ng-model = "selectedOwner">
                                <button type="submit"
                                class="btn btn-primary"
                                ng-disabled="!selectedOwner">
                                    Add
                                </button>
                            </form>
                    </div>

                </div>

                <div class="span9 offset1"
                ng-show="virtualBrowserList.length">
                    <table class="table table-bordered">
                        <thead>
                            <th><input type="checkbox"
                                ng-click="selectAll($event)"
                                ng-checked="areAllSelected()">
                            </th>
                            <th>
                                <span
                                ng-click="predicate='name';reverse=!reverse"
                                class="pointer">
                                    Name
                                </span>
                                <span ng-show="predicate=='name' && reverse">
                                    <i class="icon-caret-down icon-large"></i>
                                </span>
                                <span ng-show="predicate=='name' && !reverse">
                                    <i class="icon-caret-up icon-large"></i>
                                </span>
                            </th>
                            <th>
                                <span
                                ng-click="predicate='dateCreated';reverse=!reverse"
                                class="pointer">
                                    Date Created
                                </span>
                                <span
                                ng-show="predicate=='dateCreated' && reverse">
                                    <i class="icon-caret-down icon-large"></i>
                                </span>
                                <span
                                ng-show="predicate=='dateCreated' && !reverse">
                                    <i class="icon-caret-up icon-large"></i>
                                </span>
                            </th>
                            <th>Owner(s)</th>
                            <th>Collaborator(s)</th>
                        </thead>
                        <tbody>
                            <tr
                                ng-repeat="vb in virtualBrowserList | virtualBrowserFilter:{user:user,type:filterType} | orderBy:predicate:reverse"
                                ng-class="getSelectedClass(vb.id)">
                                <td>
                                    <input type="checkbox"
                                    ng-click="select($event, vb.id)"
                                    ng-checked="isSelected(vb.id)">
                                </td>
                                <td>
                                    <span ng-hide="vb.editing"
                                    ng-click="clickRename(vb.id)" class="pointer">
                                        {{vb.name}}
                                    </span>
                                    <input
                                    ng-show="vb.editing"
                                    ng-hasfocus="vb.editing"
                                    type="text" class="span11"
                                    ng-model="vb.name">
                                </td>
                                <td>
                                    {{vb.dateCreated}}
                                </td>
                                <td>
                                    <div ng-repeat="owner in vb.owners">
                                        {{owner.getEmail()}} ({{owner.getNameSpace()}})
                                    </div>
                                </td>
                                <td>
                                    <div ng-repeat="collaborator in vb.collaborators">
                                        {{collaborator.getEmail()}}
                                        ({{collaborator.getNameSpace()}})
                                    </div>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </body>
</html>
