 <td>                                                      |      ---------------------------------------------------------
              <span ng-hide="vb.editing"                            |      ---------------------------------------------------------
                           ng-click="clickRename(vb.id)" class="pointer">        |      ---------------------------------------------------------
                                        {{vb.name}}                                       |      ---------------------------------------------------------
                                                 </span>                                               |      ---------------------------------------------------------
                                                          <input                                                |      ---------------------------------------------------------
                                                                   ng-show="vb.editing"                                  |      ---------------------------------------------------------
                                                                            ng-hasfocus="vb.editing"                              |      ---------------------------------------------------------
                                                                                     type="text" class="span11"                            |      ---------------------------------------------------------
                                                                                              ng-model="vb.name">                                   |      ---------------------------------------------------------
                                                                                                   </td>      
