doctype 5
html
  head
    title Browser: #{browserID}
    script
        window.__envSessionID = '#{browserID}'
        window.__appID = '#{appid}'
        window.__appInstanceID = '#{appInstanceID}'
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/clientEngine.js")
    script
        $(function () {
            var ClientEngine = require('/client_engine');
            window.__client = new ClientEngine(window, document);
        });
