html
  head
    title VirtualBrowser: #{browserid}
    script window.__envSessionID = '#{browserid}'
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/clientEngine.js")
    script
        $(function () {
            var SocketIOClient = require('/socketio_client');
            window.__client = new SocketIOClient(window, document);
        });
