html
  head
    title VirtualBrowser: #{browserid}
    script window.__envSessionID = '#{browserid}'
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js")
    script(src="/bootstrap.js")
    script
        $(function () {
            var bootstrap = require('/bootstrap');
            bootstrap(window, document);
        });
