html
  head
    title VirtualBrowser: #{browserid}
    script window.__envSessionID = '#{browserid}'
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js")
    script(src="http://localhost:3000/browserify.js")
    script
      $(function () {
          var Client = require('./client');
          var client = new Client(window);
      });
