#earthboundpng { background-image: url(cached-sprite-sheet.png); background-position: -0px -0px }
#ocarinapng { background-image: url(cached-sprite-sheet.png); background-position: -40px -0px }
#pokemonpng { background-image: url(cached-sprite-sheet.png); background-position: -80px -0px }
#portalpng { background-image: url(cached-sprite-sheet.png); background-position: -120px -0px }
#sims3png { background-image: url(cached-sprite-sheet.png); background-position: -160px -0px }
#linkpng { background-image: url(cached-sprite-sheet.png); background-position: -0px -40px }
#london-lifepng { background-image: url(cached-sprite-sheet.png); background-position: -40px -40px }
#lttppng { background-image: url(cached-sprite-sheet.png); background-position: -80px -40px }
#talespng { background-image: url(cached-sprite-sheet.png); background-position: -120px -40px }
#windwakerpng { background-image: url(cached-sprite-sheet.png); background-position: -160px -40px }
#minishpng { background-image: url(cached-sprite-sheet.png); background-position: -200px -40px }
#eveonlinepng { background-image: url(cached-sprite-sheet.png); background-position: -0px -80px }
#acwwpng { background-image: url(cached-sprite-sheet.png); background-position: -40px -80px }
#metroidfusionpng { background-image: url(cached-sprite-sheet.png); background-position: -80px -80px }
#fftapng { background-image: url(cached-sprite-sheet.png); background-position: -120px -80px }
#viridianpng { background-image: url(cached-sprite-sheet.png); background-position: -160px -80px }
#whitechamberpng { background-image: url(cached-sprite-sheet.png); background-position: -200px -80px }
#picrosspng { background-image: url(cached-sprite-sheet.png); background-position: -0px -120px }
#chesspng { background-image: url(cached-sprite-sheet.png); background-position: -40px -120px }
#ff36png { background-image: url(cached-sprite-sheet.png); background-position: -80px -120px }
#pokemon-bwpng { background-image: url(cached-sprite-sheet.png); background-position: -120px -120px }
#spirittrackspng { background-image: url(cached-sprite-sheet.png); background-position: -160px -120px }
#pokedex-3dpng { background-image: url(cached-sprite-sheet.png); background-position: -200px -120px }
#qr-codepng { background-image: url(cached-sprite-sheet.png); background-position: -0px -160px }
#ninehourspng { background-image: url(cached-sprite-sheet.png); background-position: -40px -160px }
#pocket-frogspng { background-image: url(cached-sprite-sheet.png); background-position: -80px -160px }
#contact-dspng { background-image: url(cached-sprite-sheet.png); background-position: -120px -160px }
#super-scribblenautspng { background-image: url(cached-sprite-sheet.png); background-position: -160px -160px }
#nintendogs-catspng { background-image: url(cached-sprite-sheet.png); background-position: -200px -160px }
#secret-of-manapng { background-image: url(cached-sprite-sheet.png); background-position: -0px -200px }
#soul-blazerpng { background-image: url(cached-sprite-sheet.png); background-position: -40px -200px }
#blue-chamberpng { background-image: url(cached-sprite-sheet.png); background-position: -80px -200px }
#crimson-roompng { background-image: url(cached-sprite-sheet.png); background-position: -120px -200px }
#find-mii-3dspng { background-image: url(cached-sprite-sheet.png); background-position: -160px -200px }
