.d-month {
    color: white;
    text-align: left;
    background-color: #3385E4;
    padding: 3px;
}

body {
    /* required to leave space for navbar */
    padding-top: 50px;
}
.ptcheckbox {
    text-align: center !important;
}

.namecolumn, .emailcolumn {
    width: 216px;
}
