<html>
    <head>
        <script>
            window.addEventListener('load', function () {
                var vm = {
                    xSliderVal : ko.observable(),
                    ySliderVal : ko.observable(),
                    selectedDate : ko.observable()
                };
                ko.applyBindings(vm);

                // Sliders
                var xSliderDiv = document.getElementById('xSlider');
                var xSlider = CloudBrowser.component.create('slider', xSliderDiv)
                xSlider.addEventListener('slider:valueChange', function (e) {
                    vm.xSliderVal(e.info.newVal);
                });
                var ySliderDiv = document.getElementById('ySlider');
                var ySlider = CloudBrowser.component.create('slider', ySliderDiv, {
                    axis : 'y'
                });
                ySlider.addEventListener('slider:valueChange', function (e) {
                    vm.ySliderVal(e.info.newVal);
                });

                // DatePicker
                var pickerDiv = document.getElementById('datePicker');
                var picker = CloudBrowser.component.create('calendar', pickerDiv, {
                    height : '200px',
                    width : '600px',
                    showPrevMonth : true,
                    showNextMonth : true
                });
                // Or maybe "selectionChange", which has info.newSelection
                picker.addEventListener('Calendar:dateClick', function (e) {
                    vm.selectedDate(e.info.date);
                });
            });
        </script>
    </head>
    <body>
        <input data-bind='value: xSliderVal'></input>
        <div id='xSlider'></div>
        <input data-bind='value: ySliderVal'></input>
        <div id='ySlider'></div>
        <div id='datePicker'></div>
        <div data-bind='text: selectedDate'></div>
    </body>
</html>
