<button class="btn btn-mini btn-inverse"
    ng-click="app.appInstanceMgr.visible = !app.appInstanceMgr.visible">
    <span class="glyphicon glyphicon-collapse-up" ng-show="app.appInstanceMgr.visible"></span>
    <span class="glyphicon glyphicon-collapse-down" ng-hide="app.appInstanceMgr.visible"></span>
</button>
<span><strong>Application Instances</strong></span>
<table ng-show="app.appInstanceMgr.visible" class="table table-bordered">
    <thead>
        <th>ID</th>
        <th>Worker</th>
        <th>Name</th>
        <th>Date Created</th>
        <th>Owner</th>
        <th>Reader-Writers</th>
        <th>Browsers</th>
    </thead>
    <tbody>
        <tr ng-repeat="appInstance in app.appInstanceMgr.items">
            <td>{{appInstance.id}}</td>
            <td>{{appInstance.workerId}}</td>
            <td>{{appInstance.name}}</td>
            <td>{{appInstance.dateCreated}}</td>
            <td>{{appInstance.owner}}</td>
            <td>
                <span ng-repeat="user in appInstance.readerwriters">
                    {{user}}
                    <br ng-show="!$last">
                </span>
            </td>
            <td>
                <span ng-repeat="browserID in appInstance.browserIDMgr.items">
                    {{browserID}}
                    <br ng-show="!$last">
                </span>
            </td>
        </tr>
    </tbody>
</table>
