<table ng-show="apps.length" id="data-table" class="table table-bordered table-hover">
    <thead>
        <th class="align-left" ng-click="sortBy('mountPoint')">
            MountPoint
        </th>
        <th ng-click="sortBy('userMgr.items.length')">
            <span class="glyphicon glyphicon-user" title="Number of Users"></span>
        </th>
        <th ng-click="sortBy('browserMgr.items.length')">
            <span class="glyphicon glyphicon-file" title="Number of Instances"></span>
        </th>
        <th ng-click="sortBy('isPublic')">
            <span class="glyphicon glyphicon-eye-open" title="Privacy"></span>
        </th>
        <th ng-click="sortBy('mounted')">
            <span class="glyphicon glyphicon-off" title="State"></span>
        </th>
        <th ng-click="sortBy('isAuthEnabled')">
            <span class="glyphicon glyphicon-lock" title="Authentication"></span>
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="app in apps|filter:search|orderBy:predicate:reverse"
            ng-click="select(app)"
            ng-class="app.selected? 'active':''">
            <td class="align-left">{{app.name}}</td>
            <td>{{app.userMgr.items.length}}</td>
            <td>{{app.browserMgr.items.length}}</td>
            <td>{{app.isPublic? 'Public':'Private'}}</td>
            <td>{{app.mounted? 'Mounted':'Disabled'}}</td>
            <td>{{app.isAuthEnabled? 'On':'Off'}}</td>
        </tr> 
    </tbody>
</table>
