<button class="btn btn-mini btn-inverse"
    ng-click="app.userMgr.visible = !app.userMgr.visible">
    <span class="glyphicon glyphicon-collapse-up" ng-show="app.userMgr.visible"></span>
    <span class="glyphicon glyphicon-collapse-down" ng-hide="app.userMgr.visible"></span>
</button>
<span><strong>Users</strong></span>
<table ng-show="app.userMgr.visible" class="table table-bordered">
    <thead>
        <th>Email ID</th>
        <th>Browser IDs</th>
        <th>App Instance IDs</th>
    </thead>
    <tbody>
        <tr ng-repeat="user in app.userMgr.items">
            <td>{{user.emailID}}</td>
            <td>
                <span ng-repeat="browser in user.browserIDMgr.items">
                    {{browser.id}}
                    <small>({{browser.role}})</small>
                    <br ng-show="!$last">
                </span>
            </td>
            <td>
                <span ng-repeat="appInstance in user.appInstanceIDMgr.items">
                    {{appInstance.id}}
                    <small>({{appInstance.role}})</small>
                    <br ng-show="!$last">
                </span>
            </td>
        </tr>
    </tbody>
</table>
