<table class="table table-striped">
    <tr ng-show="app.isAuthEnabled">
        <td>
            <strong>
                {{app.userMgr.items.length}}
            </strong> Users
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                {{app.browserMgr.items.length}}
            </strong> Instances</td>
    </tr>
    <tr>
        <td>
            <strong>
                {{app.instantiationStrategy}}
            </strong> Instantiation Strategy
            <span ng-show="app.browserLimit">
                with a browser limit of 
                <strong>
                    {{app.browserLimit}}
                </strong>
            </span>
        </td>
    </tr>
</table>
