<html ng-app="CBAdminInterface">
    <head>
        <title>CloudBrowser - Administration Interface</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/angular.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/lib/admin_interface.js"></script>
        <script src="js/lib/model/api_list_manager.js"></script>
        <script src="js/lib/model/pojo_list_manager.js"></script>
        <script src="js/lib/model/primitive_list_manager.js"></script>
        <script src="js/lib/model/user.js"></script>
        <script src="js/lib/model/browser.js"></script>
        <script src="js/lib/model/app_instance.js"></script>
        <script src="js/lib/model/app.js"></script>
        <script src="js/lib/model/app_manager.js"></script>
        <script src="js/lib/models.js"></script>
        <script src="js/lib/services.js"></script>
        <script src="js/lib/directives.js"></script>
        <script src="js/lib/controller.js"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <!-- Container -->
        <div class="container-fluid" ng-controller="AppCtrl">
            <!-- Row -->
            <div class="row-fluid">
                <div class="page-header pagination-centered span12">
                    <h3>CloudBrowser Administration Interface</h3>
                </div>
            </div>

            <div class="row-fluid">
                <button ng-click="init()">Refresh</button>
            </div>
            <!-- Row -->

            <!-- Row -->
            <div class="row-fluid">
                <!-- Left Half -->
                <div class="span5">
                    <!-- Row -->
                    <div class="row-fluid">
                        <!-- Search and Logout -->
                        <div class="span12"
                            ng-include="templates.searchAndLogout">
                        </div>
                        <!-- Search and Logout -->
                    </div>
                    <!-- Row -->

                    <!-- Row -->
                    <div class="row-fluid">
                        <!-- App Table -->
                        <div class="span12" ng-include="templates.appTable">
                        </div>
                        <!-- App Table -->
                    </div>
                    <!-- Row -->

                    <!-- Row -->
                    <div class="row-fluid">
                        <!-- File Uploader -->
                        <div id="file-uploader" class="span12"></div>
                        <!-- File Uploader -->
                    </div>
                    <!-- Row -->

                    <!-- Row -->
                    <div class="row-fluid">
                        <!-- Error -->
                        <div class="text-error" class="span12">{{error}}</div>
                        <!-- Error -->
                    </div>
                    <!-- Row -->
                </div>
                <!-- Left Half -->

                <!-- Right Half-->
                <div ng-show="selectedApp"
                    ng-class="{true:'mounted',false:'disabled'}[selectedApp.mounted]"
                    class="span7 pagination-centered box fitText">
                    <!-- Row -->
                    <div class="row-fluid">
                        <!-- App Name -->
                        <div class="span12">
                            <legend>{{selectedApp.name}}</legend>
                        </div>
                        <!-- App Name -->
                    </div>
                    <!-- Row -->

                    <!-- Row -->
                    <div class="row-fluid">
                        <!-- App URL -->
                        <div class="span12">
                            <a ng-click="leftClick(selectedApp.url)"
                            title="Visit the app">
                                {{selectedApp.url}}
                                <i class="icon-external-link"></i>
                            </a>
                        </div>
                        <!-- App URL -->
                    </div>
                    <!-- Row -->

                    <!-- Row -->
                    <div class="row-fluid">
                        <!-- App Description -->
                        <div class="span12 well"
                            ng-include="templates.appDescription">
                        </div>
                        <!-- App Description -->
                    </div>
                    <!-- Row -->

                    <!-- Row -->
                    <div class="row-fluid">
                        <!-- Selected App Table -->
                        <div class="span12"
                            ng-include="templates.selectedAppTable">
                        </div>
                        <!-- Selected App Table -->
                    </div>
                    <!-- Row -->

                    <!-- Row -->
                    <div class="row-fluid">
                        <!-- Dummy div for bootstrap -->
                        <div class="span5"></div>
                        <!-- Dummy div for bootstrap -->

                        <!-- Checkbox Switches -->
                        <div class="span3 align-left">
                            <div ng-repeat="switchName in switches"
                                class="onoffswitch"
                                ng-class="'onoffswitch-' + switchName"
                                ng-include="templates.switch">
                            </div>
                        </div>
                        <!-- Checkbox Switches -->

                        <!-- Dummy div for bootstrap -->
                        <div class="span4"></div>
                        <!-- Dummy div for bootstrap -->
                    </div>
                    <!-- Row -->

                </div>
                <!-- Right Half -->
            </div>
            <!-- Row -->

            <!-- Row -->
            <div class="row-fluid">
                <div class="span12 box"
                    ng-show="selectedApp.userMgr.items.length || selectedApp.browserMgr.items.length || selectedApp.appInstanceMgr.items.length"
                    ng-class="{true:'mounted',false:'disabled'}[selectedApp.mounted]">
                    <legend>Application Info - {{selectedApp.name}}</legend>
                    <!-- Row -->
                    <div class="row-fluid align-left"
                        ng-show="selectedApp.userMgr.items.length">
                        <!-- Users of the selected app -->
                        <div class="span12 fitText" ng-include="templates.appUsers">
                        </div>
                        <!-- Users of the selected app -->
                    </div>
                    <!-- Row -->

                    <!-- Row -->
                    <div class="row-fluid align-left"
                        ng-show="selectedApp.browserMgr.items.length">
                        <!-- Browsers of the selected app -->
                        <div class="span12 fitText" ng-include="templates.appBrowsers">
                        </div>
                        <!-- Browsers of the selected app -->
                    </div>
                    <!-- Row -->

                    <!-- Row -->
                    <div class="row-fluid align-left"
                        ng-show="selectedApp.appInstanceMgr.items.length">
                        <!-- App instances of the selected app -->
                        <div class="span12 fitText" ng-include="templates.appInstances">
                        </div>
                        <!-- App instances of the selected app -->
                    </div>
                    <!-- Row -->
                </div>
            </div>
            <!-- Row -->
        </div> 
        <!-- Container -->
    </body>
</html>
