html
  head
    script(src='/socket.io/socket.io.js')
    script
      window.addEventListener('load', function () {
        var div = document.getElementById('target');
        var clicker = document.getElementById('clicker');
        var socket = io.connect('http://localhost:3000');
        socket.on('pokeCount', function (count) {
          div.innerHTML = count;
          socket.emit('poke');
        });
        socket.emit('poke');
        clicker.addEventListener('click', function () {
          socket.emit('poke');
        });
      });
  body
    button(id='clicker') Click me
    div(id='target')
