.margin-bottom{margin-bottom:20px !important;}
.highlight{background-color:#bdbdbd;}
.box{
    border-radius:5px;
    border: 1px solid #ccc;
    padding:30px;
    -webkit-box-shadow: 0px 2px 10px #ccc;
    -moz-box-shadow: 0px 2px 10px #ccc;
}
.pointer{
    cursor:pointer;
}
