<!DOCTYPE html>
<html ng-app="CBAuthentication">
  <head>
    <title>CloudBrowser</title>
    <script type="text/javascript" src='javascript/angular.js'></script>
    <script type="text/javascript" src='javascript/controller.js'></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <style>
      input{
        height:40px !important;
        font-size:16px !important;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="page-header pagination-centered">CloudBrowser</h1>
      <div class="row-fluid">
        <div class="span4 offset4 well">
          <form id="login" ng-controller="LoginCtrl" ng-submit="login()">
            <fieldset>
              <legend>Log In</legend>
              <div class="control-group pagination-centered">
                <div class="controls">
                  <input class="span8" type="text" placeholder="Username" ng-model="username" required>
                </div>
                <div class="controls">
                  <input class="span8" type="password" placeholder="Password" ng-model="password" name="password" required>
                </div>
                <div class="controls">
                  <button class="btn btn-primary" type="submit" ng-disabled="isDisabled">Log In</button>
                  <span class="text-error" ng-show="error">Login Failed</span>
                </div>
              </div>
            </fieldset>
          </form>
          <form id="signup" ng-controller="SignupCtrl" ng-submit="signup()">
            <fieldset>
              <legend>Sign Up</legend>
              <div class="control-group pagination-centered" ng-class="{true:'error'}[!!uerror]">
                <div class="controls">
                  <input class="span8" type="text" name="username" placeholder="Username" ng-model="username" required>
                  <span class="help-inline" ng-show="uerror">Username Exists</span>
                </div>
              </div>
              <div class="control-group pagination-centered">
                <div class="controls">
                  <input class="span8" type="password" name="password" placeholder="Password" ng-model="password" required>
                </div>
              </div>
              <div class="control-group pagination-centered" ng-class="{true:'error'}[password != vpassword]">
                <div class="controls">
                  <input class="span8" type="password" name="vpassword" placeholder="Retype Password" ng-model="vpassword" required>
                  <span class="help-inline" ng-show="password != vpassword">Passwords don't match!</span>
                </div>
              </div>
              <div class="control-group pagination-centered">
                <div class="controls">
                  <button class="btn btn-success" type="submit" ng-disabled="isDisabled">Sign Up</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
